In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install -U scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.10.1)

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ai_data.csv")
df

,Active-inactive prediction,On screen activity,Social media and entertainment,Time spent on navigator app,Driving (MINS),Call activity
0,A,210,55,120,430,80
1,I,419,289,30,300,150
2,I,400,270,39,310,135
3,A,200,60,140,400,76
4,A,220,54,135,369,69
5,I,430,300,45,304,132
6,A,217,67,137,460,67
7,I,410,250,40,308,160
8,A,217,47,127,450,77
9,I,440,274,42,309,139
10,I,465,254,54,316,127
11,I,412,290,29,275,133
12,A,209,62,121,434,84
13,I,416,300,26,324,156
14,I,435,306,32,333,155
15,A,234,69,115,444,79
16,A,205,54,111,426,81
17,I,410,278,39,311,161
18,A,211,61,140,489,69
19,I,402,279,36,265,171
20,A,222,51,125,454,90
21,A,232,48,119,432,93
22,I,436,269,33,313,141
23,I,631,123,18,312,133
24,A,142,32,121,433,85
25,I,563,236,9,352,141
26,A,168,26,248,423,88
27,I,479,151,23,317,146
28,A,51,16,123,456,92
29,A,108,28,462,429,77
30,A,72,33,351,439,83
31,I,794,462,39,313,140
32,A,78,42,426,435,87
33,I,351,238,12,325,155
34,I,342,369,24,304,133
35,I,435,220,34,323,120
36,A,240,54,132,453,56
37,I,410,123,45,298,132
38,A,200,43,178,438,43
39,I,428,302,23,335,164
40,A,266,62,102,425,20
41,A,249,71,145,444,44
42,I,415,267,13,300,153
43,A,223,53,164,415,56
44,I,461,297,43,312,142
45,I,444,353,28,299,173
46,A,210,34,134,450,18
47,I,419,153,53,332,140

In [ ]:
df.describe()

,On screen activity,Social media and entertainment,Time spent on navigator app,Driving (MINS),Call activity
count,149.000000,72.000000,149.000000,149.000000,149.000000
mean,310.489933,120.791667,101.624161,350.597315,160.429530
std,153.801277,116.011769,81.409747,128.062797,118.621887
min,21.000000,12.000000,9.000000,45.000000,14.000000
25%,182.000000,40.000000,34.000000,299.000000,76.000000
50%,315.000000,54.500000,106.000000,336.000000,135.000000
75%,435.000000,241.000000,142.000000,435.000000,210.000000
max,794.000000,462.000000,462.000000,794.000000,525.000000

In [ ]:
print("I= Inactive person");
print("A= Active person");

I= Inactive person
A= Active person

In [ ]:
x=df.drop(columns=["Active-inactive prediction"])
y=df["Active-inactive prediction"]

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3)

model=DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions=model.predict(x_test)

score=accuracy_score(y_test, predictions)
print("\n")
print("Mean Accuracy:",score)
print("\n")

Mean Accuracy: 0.9333333333333333

In [ ]:
a=x.iloc[30]
a=a.values;

b=x.iloc[35]
b=b.values;

p=model.predict([a,b])
print("\n")
print("Predictions of the query is",p)

Predictions of the query is ['A' 'I']

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:



b=[269,79,107,417,67]

p=model.predict([b])
print("\n")
print("Predictions of the query is",p[0])

Predictions of the query is A

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:
b=[400,200,30,280,130]

p=model.predict([b])
print("\n")
print("Predictions of the query is",p[0])

Predictions of the query is I

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:


b=[100,220,49,300,100]

p=model.predict([b])
print("\n")
print("Predictions of the query is",p[0])

Predictions of the query is A

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(